<div class="btn-group">
  <%= link_to "Create a new post", new_post_path, class: "btn btn-primary" %>
</div>

<div class="form-group">&nbsp;</div>

<div class="container">
  <% @posts.each do |post| %>
    <div class= "row post">
      <%= link_to post.title, post %> - <%= post.user.full_name %>
    </div>
  <% end %>
</div>