@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #e6e6e6; 
}
.navbar {
  a, a:hover {
  color: #fff;
  }
}

.nav > li > a:hover {
  background-color: #334045;
}

.post {
  font-size: 20px;
  padding-bottom: 10px;
}